.container{
background-color: black;
position: absolute;
font-family: sans-serif;
overflow-x:hidden;

h1{
    color: white;
    font-size: 2.3rem;
    text-align:left;
    padding-left: 2rem;
    position: absolute;
    text-align: left;
    padding-top:3.6rem;
  
}

}